{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center;">Home Page</h1>
<div class="conatiners" style="width: 80%;margin: auto;display: flex;flex-wrap: wrap;gap:10px;">
    {% for post in posts %}
    <div class="card" style="margin: 10px;width: 25%;">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <h3>{{post.content}}</h3>
          <h3>
            Category:
            {% for i in post.category.all %}
              <button class="btn btn-primary" style="margin: 5px;" disabled>{{i.name}}</button>
            {% endfor %}
          </h3>
          <h2>{{post.author}}</h2>
          <div class="btns" style="display: flex;justify-content: space-evenly;"><a class="btn btn-warning" href="{% url 'edit_post' post.id %}">Edit</a><a class="btn btn-danger" href="{% url 'delete_post' post.id%}">Delete</a></div>
        </div>
      </div>
      {% endfor %}
</div>
{% endblock %}



